#previous, #future{
	height:100vh;
	width:auto;
	margin:0 auto;
	text-align:center;
}




.col-md-4{
float:left;
	
background-color:grey;
}

.col-md-8{
float:right;
}
	
#image{
	padding-left:10px;
	padding-right:10px;
	max-width:100%;
	height:auto;
}

.image-circle{
	margin: 0 auto;
}

body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
	width: 100%;
	margin: 0 auto;
}

.content{
	padding-top:75px;
}
